/* =====================================================================
    LIGHT THEME
===================================================================== */
:root {
    --background: #F8FAFC;

    --surface: #FFFFFF;

    --text-primary: #1E293B;
    --text-secondary: #64748B;

    --border-color: #E2E8F0;
}

/* =====================================================================
    DARK THEME
===================================================================== */
.dark {
    --background: #0F172A;

    --surface: #1E293B;

    --text-primary: #F8FAFC;
    --text-secondary: #CBD5E1;

    --border-color: #334155;
}